/*styles for the elemets*/
html {
    background-repeat: repeat;
    background-image: url(/images/background.jpg);
    background-size: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 4px solid #E35757;
    background-image: url(/images/parch.jpg);
}
/* the styles for the header */
header {
    padding: 1.25em 0 1.75em ;
    border-bottom: 4px solid #E35757;    
	background-image: -moz-linear-gradient(
	    30deg, #607C4D 0%, #607C4D 30%, white 50%, #607C4D 80%, #607C4D 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: -o-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, #9FB98D 50%, #75985E 80%, #607C4D 100%);
}
header h1 {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    color: #E35757
}
header img {
    float: left;
    padding-left: 10px
}
/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 5px -25px;
    position: relative;
}
#nav_menu ul li a {
    display: block; text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #E35757;
    padding-bottom: 15px;
}
#nav_menu a.current {
    color: #538135
}
/* Styles for the body elements */
body h2 {
    border: solid 4px #A9D18E;
    padding: 10px 10px 10px 10px;
    width: 190px;
    text-align: center;
    font-size: 40px;
    color: #E35757;
    margin-left: 350px;
    margin-top: -170px
}
#bakers {
    border-radius: 25px;
    margin-top: 90px;
    display: block;
}
#story {
    border: solid 4px #A9D18E;
    width: 375px;
    font-family: sans-serif;
    font-size: 19px;
    color: #E35757
}
#fire {
    float: right;
    25px;
    border-radius: 25px;
    margin-left: 440px;
    margin-top: -775px
}
#firestory {
    float: right;
    border: solid 4px #A9D18E;
    width: 400px;
    font-family: sans-serif;
    font-size: 19px;
    color: #E35757;
    margin-top: -467px;
}
