/*styles for the elemets*/
html {
    background-repeat: repeat;
    background-image: url(/images/background.jpg);
    background-size: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 3px solid #E35757;
    background-image: url(/images/parch.jpg);
}
/* the styles for the header */
header {
    padding: 1.25em 0 1.75em ;
    border-bottom: 3px solid #E35757;    
	background-image: -moz-linear-gradient(
	    30deg, #607C4D 0%, #607C4D 30%, white 50%, #607C4D 80%, #607C4D 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: -o-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, #9FB98D 50%, #75985E 80%, #607C4D 100%);
}
header h1 {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    color: #E35757
}
header img {
    float: left;
    padding-left: 10px
}
/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 5px -25px;
    position: relative;
}
#nav_menu ul li a {
    display: block; text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #E35757;
    padding-bottom: 15px;
}
#nav_menu a.current {
    color: #538135
}
/* the styles for the body */
body h2 {    
    border: solid 4px;
    border-color: #A9D18E;
    padding: 10px 10px 10px 10px;
    width: 130px;
    text-align: center;
    font-size: 40px;
    color: #E35757;
    margin-left: 350px;
    margin-top: -170px
}
#donuts {
    margin-left: 85px;
    border-radius: 25px;
}
#menu {
    border: solid 4px #A9D18E;
    width: 750px;
    margin-left: 33px;
}
figure h3 {
    font-family: sans-serif;
    color: #E35757;
}
figure h4 {
    font-family: serif;
    font-size: 17px;
}
#topsellers {
    margin-top: 200px;
    width: 750px;
    margin-left: 33px;
    text-align: center;
}
figure h2 {
    font-size: 23px;
    border: none;
    
}