/*styles for the elemets*/
html {
    background-repeat: repeat;
    background-image: url(/images/background.jpg);
    background-size: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 4px solid #E35757;
    background-image: url(/images/parch.jpg);
}
/* the styles for the header */
header {
    padding: 1.25em 0 1.75em ;
    border-bottom: 4px solid #E35757;    
	background-image: -moz-linear-gradient(
	    30deg, #607C4D 0%, #607C4D 30%, white 50%, #607C4D 80%, #607C4D 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: -o-linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, white 50%, #75985E 80%, #607C4D 100%);
	background-image: linear-gradient(
	    30deg, #607C4D 0%, #75985E 30%, #9FB98D 50%, #75985E 80%, #607C4D 100%);
}
header h1 {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    color: #E35757
}
header img {
    float: left;
    padding-left: 10px
}
/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 5px -25px;
    position: relative;
}
#nav_menu ul li a {
    display: block; text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #E35757;
    padding-bottom: 15px;
}
#nav_menu a.current {
    color: #538135
}
/* the styles for the body elements */
body h2 {    
    border: solid 4px #A9D18E;
    padding: 10px 10px 10px 10px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    color: #E35757;
    margin-left: 350px;
    margin-top: -170px;
}
/* the styles for the aside elements */
aside {
    margin-left: 175px;
    margin-top: 100px;
    border: solid 3px #A9D18E;
    width: 575px;
    background-color: white;
}
aside h3 {
    color: #E35757;
    font-size: 25px;
    padding-left: 3px;
}
aside h4 {
    color: #E35757;
    font-weight: 500;
    padding-left: 3px;
}
aside label {
    color: #E35757;
    font-size: 18px;
    padding-left: 3px;
    padding-right: 3px;
}
aside input {
    width: 350px;
    height: 30px;
}
#submit {
    width: 100px;
    height: 50px;
    margin-left: 25px;
    border: solid 3px #E35757;
    background-color: #A9D18E;
    color: #E35757;
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 10px
}
#family {
    border: solid 3px #A9D18E;
    margin-left: 160px;
    margin-top: 25px;
    margin-bottom: 25px;
}